@import "compass/css3";

body {
    color: black;
    font-weight: 100;
    padding: 0px;
    margin: 0px;
    font-family: 'avenir next';

/*    &:hover {

        span {
            display: none;
        }

        p {
            display: none;
        }


    }*/

}

.navlocation a {
    background-color: black;
    color: white;
}

.indexlocation a {
    background-color: white;
    color: black;
    font-weight: bold;
}


span {
    position: absolute;
    top: 100px;
    left: 100px;
    color: #000;
    display: block;
}




.header1 {
    position: absolute;
    top: 100px;
    left: 100px;
    font-weight: 200;
    font-size: 150px;
    letter-spacing: 60PX;
    color: white;
}



.header2 {
    position: absolute;
    top: 350px;
    left: 100px;
    font-weight: 100;
    font-size: 50px;
    color: white;

}


.header4 {
    position: absolute;
    top: 200px;
    left: 150px;
    padding-bottom: 60px;
    font-weight: 100;
    font-size: 80px;
    color: white;

}


.header {
    display: block;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 60px;
    font-weight: bold;
    font-size: 80px;
    color: black;
}

.subheader {
    margin-top: 20px;
    margin-bottom: 100px;
    font-weight: 100;
    font-size: 25px;
    color: black;
    background-color: transparent;
    width: auto;
}


.homepage-intro {
    color: white;
    background-color: black;
}

.locationname {
    position: absolute;
    display: inline-block;
    color: white;
    font-size: 60px;
    left: 150px;
    top: 400px;
    right: 60px;

}


.locationrow {
    display: inline-block;
    clear: both;
    color: white;
}

.galleryitem {
    color: black;
    border: .5px grey solid;
    padding: 0;
    text-align: center;
    font-family: avenir next;
    text-decoration: none;

}

.uesgalleryitem {
    color: black;
    border: .5px grey solid;
    padding: 0;
    text-align: center;
    font-family: avenir next;
    text-decoration: none;

}


.uesgalleryitem a {
	padding: 200px 0;
	display: block;
	color: white;
	font-size: 15px;
	background-color: black;
}

.galleryitem a {
	padding: 200px 0;
	display: block;
	color: white;
	font-size: 15px;
	background-color: black;
}





.galleryrow {
    align-items: center;

}

.navbar {
    font-family: avenir next;
    font-size: 10px;
    color: black;
}

.active {
    color: white;
}

/*
.active img {
    max-width: 200px;
    max-height: 200px;
}*/

.active a {
    color: white;
    background-image: url(https://i.pinimg.com/236x/f2/50/40/f2504063b9e413681be3e8dd035409e8--yaoi-kusama-pumpkins.jpg);
   
}

.uesactive a {
    color: white;
    background-image: url(https://whitney.org/uploads/image/file/375675/large_kusama_i_want_to_live_honestly2009.jpg);
   
}


